{% extends 'base.html' %}

{% block title %}Название объявления - Ad-Project{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'ad_list' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'category_list' slug=ad.category.slug %}">{{ ad.category }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ ad }}</li>
    </ol>
</nav>

<div class="row bg-white p-4 rounded shadow-sm mt-3">
    <div class="col-md-6">
        <img src="{{ ad.image.url }}" class="img-fluid rounded" alt="Картинка объявления">
    </div>
    <div class="col-md-6 d-flex flex-column">
        <h2 class="mb-3">{{ ad }}</h2>
        <h3 class="text-primary fw-bold mb-4">{{ ad.price }} ₸</h3>

        <h5>Описание:</h5>
        <p class="text-secondary">{{ ad.description }}</p>

        <div class="mt-auto p-3 bg-light rounded">
            <p class="mb-1"><strong>Продавец:</strong> {{ ad.author.username }}</p>
            <p class="mb-1"><strong>Город:</strong> <a href="{% url 'ad_list' %}?city={{ ad.city }}">{{ ad.city }}</a></p>
            <p class="mb-3"><strong>Телефон:</strong> +7 (777) 123-45-67</p>

            {% if user == ad.author %}
            <div class="d-grid gap-2 d-md-block">
                <a href="{% url 'ad_update' uuid=ad.uuid %}" class="btn btn-warning">Редактировать</a>
                <a href="{% url 'ad_delete' uuid=ad.uuid %}" class="btn btn-danger">Удалить</a>
            {% endif %}
                <a href="{% url 'toggle_favorite' uuid=ad.uuid %}" class="btn btn-outline-danger">
                    {% if is_favorite %}
                    💔 Удалить из избранного
                    {% else %}
                    ❤️ В избранное
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</div>

{% for message in messages %}
    <div class="alert alert-primary mt-2">{{ message }}</div>
{% endfor %}
{% endblock %}