{% extends 'base.html' %}

{% block title %}Все объявления - Ad-Project{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Доска объявлений</h1>
    <a href="{% url 'ad_create' %}" class="btn btn-primary">+ Добавить объявление</a>
</div>

<div class="row">
    {% for ad in ads %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 border-warning shadow-sm">
            <img src="{{ad.image}}" class="card-img-top" alt="Картинка">
            <div class="card-body">
                {% if ad.is_vip %}
                <span class="badge bg-warning text-dark mb-2">ТОП</span>
                {% endif %}
                <h5 class="card-title">{{ad.title}}</h5>
                <p class="card-text text-muted mb-1"><small>Категория: {{ad.category}}</small></p>
                <h5 class="text-primary fw-bold">{{ad.price}}</h5>
            </div>
            <div class="card-footer bg-white border-0">
                <a href="{% url 'ad_detail' uuid=ad.uuid %}" class="btn btn-outline-dark w-100">Подробнее</a>
            </div>
        </div>
    </div>
	{% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if ads.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ ads.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ ads.number }} of {{ ads.paginator.num_pages }}.
        </span>

        {% if ads.has_next %}
            <a href="?page={{ ads.next_page_number }}">next</a>
            <a href="?page={{ ads.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}